<div class="row justify-content-center mt-5">
  <div class="col-md-4 border rounded p-3">
    <h2>管理者用ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Eメール", class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード", class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログイン状態をキープ" %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%#=render "admin/shared/links" %>

