<h1 class="text-center my-4">投稿一覧</h1>

<div class="container">
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= link_to user_photo_path(photo.user, photo) do %>
            <% if photo.image.attached? %>
              <%= image_tag photo.image, class: 'card-img-top' %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= photo.title %></h5>
            <p class="card-text"><%= photo.caption %></p>

            <!-- いいねボタン -->
            <% if user_signed_in? %>
              <% if current_user.goods?(photo) %>
                <%= link_to 'いいねを取り消す', nogood_photo_user_photo_path(current_user,photo), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'いいね', good_photo_user_photo_path(current_user,photo), method: :post, class: 'btn btn-primary' %>
              <% end %>
              <!-- いいねされている数 -->
              <p><%= photo.goods.count %> いいね</p>
            <% else %>
              <%= link_to 'ログインしていいね', new_user_session_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


