<div class="d-flex justify-content-center align-items-center">
  <!-- 投稿画像 -->
  <div class="p-2">
    <%= image_tag url_for(@photo.image), class: "img-fluid", size: "500x500" %>
  </div>

  <!-- タイトルと説明 -->
  <div class="p-2">
    <!-- タイトル -->
    <h2><%= @photo.title %></h2>

    <!-- 説明 -->
    <p><%= @photo.caption %></p>
  </div>
</div>

<div class="d-flex justify-content-start align-items-center ml-5" style="position: relative;">
  <!-- コメント数といいねボタン -->
  <div style="position: absolute; left: 50%; transform: translateX(20%); margin-top: 20px;">
    <!-- いいねボタン -->
    <% if user_signed_in? %>
      <% if !@photo.good_users.include?(current_user) %>
        <%= link_to good_photo_user_photo_path(@photo), method: :post, remote: true do %>
          <i class="far fa-heart like-btn" style="margin-right: 5px;"></i>
        <% end %>
      <% else %>
        <%= link_to good_photo_user_photo_path(@photo), method: :delete, remote: true do %>
          <i class="fas fa-heart unlike-btn" style="margin-right: 5px;"></i>
        <% end %>
      <% end %>
        <% if user_signed_in? && @photo.user == current_user %>
          <%= link_to '写真を削除', user_photo_path(@photo.user, @photo), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'text-danger' %>
　　<% end %>
    <% end %>
    <!-- コメント数 -->
    <p class="mb-0 align-self-center" style="display: inline-block;"><strong>コメント数:</strong> <%= @photo.comments.count %></p>
  </div>
  <!-- コメント投稿フォーム -->
  <% if user_signed_in? %>
    <div style="position: absolute; top: -200px; left: 200px;">
      <%= form_for [@user,@photo, Comment.new], remote: true do |f| %>
        <%= f.text_area :caption, placeholder: "コメントを入力してください", class: "form-control", rows: 6, style: "width: 130%;" %>
        <%= f.submit "コメントする", class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>

<!-- コメント一覧 -->
<div style="margin-top: 50px; margin-left: 710px;">
  <% @photo.comments.each do |comment| %>
    <div>
      <strong><%= comment.user.name %>:</strong> <%= comment.caption %>
      <small>投稿時間: <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %></small>
    </div>
  <% end %>
</div>


