<h1 class="text-center my-4">投稿一覧</h1>

<div class="container">
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= link_to admin_user_photo_path(photo.user, photo) do %>
            <% if photo.image.attached? %>
              <%= image_tag photo.image.variant(resize:'400x400').processed, class: 'card-img-top' %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= photo.title %></h5>
            <p class="card-text"><%= photo.caption %></p>
              <!-- いいねされている数 -->
              <p><%= photo.goods.count %> いいね</p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


