<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
.jumbotron {
  padding: 1rem 2rem; /* 元々のパディングより小さくします */
  font-size: 0.8rem; /* フォントサイズを小さくします */
}

.media {
  margin: 10px;
}
</style>

<div class="container">
  <div class="welcome-message jumbotron mt-5">
    <h1 class="display-4">ようこそ！Old_shrineへ！</h1>
    <p class="lead">このサイトは廃神社を閲覧できるSNSです。</p>
    <hr class="my-4">
    <p>アカウントを作成せずに写真を閲覧できますが、いいねやコメントをするにはアカウントの作成が必要です。</p>
  </div>

  <div class="timeline">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-3">みんなの最新の投稿</h2>
  </div>
  <div class="row">
    <% if @timeline_photos %>
      <% @timeline_photos.each_with_index do |photo, index| %>
        <% if index % 4 == 0 && index != 0 %>
          </div><div class="row">
        <% end %>
        <div class="col-md-3 mb-4 px-2">
          <li class="media my-4">
            <div class="media-body">
              <% if photo.user == current_user %>
                <%= link_to user_photo_path(current_user, photo) do %>
                  <% if photo.image.attached? %>
                    <% variant = photo.image.variant(resize: "200x200").processed %>
                    <%= image_tag(url_for(variant), class: "mr-3") %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to user_photo_path(photo.user, photo) do %>
                  <% if photo.image.attached? %>
                    <% variant = photo.image.variant(resize: "200x200").processed %>
                    <%= image_tag(url_for(variant), class: "mr-3") %>
                  <% end %>
                <% end %>
              <% end %>
              <h5 class="mt-0 mb-1"><%= photo.title %></h5>
              <!-- 他の写真の情報を表示するコードを追加 -->
            </div>
          </li>
        </div>
      <% end %>
      <%= paginate @timeline_photos %>
    <% else %>
      <li>タイムライン上の写真はありません。</li>
    <% end %>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
